<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
          <img src="/images/misc/rouxacademymeetups.svg" alt="Roux Academy Logo">
        </a>
      </div>
    </section>
  </div>
  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home">Home</i></a></li>
        <li><a href="/speakers"><i class="icon-user">Speakers</i></a></li>
      </ul>
    </section>
  </div>
</header>
