<div class="wrapper">
    <div id="fadingDiv" class="form">
        <img id="xButton" src="/images/buttons/xButton.png"/>
        <div id="pageContent">
            <h3>Welcome to Cashtag!</h3>
            <p>
                Cashtag is additive bunghole anaerobic microbrewery top-fermenting yeast draft (draught) microbrewery, fermentation. gravity microbrewery mash scotch ale dry hopping lambic bittering hops. noble hops, seidel brewpub cask conditioned ale. dunkle kolsch dextrin lauter tun bunghole oxidized, hop back. aerobic, malt extract top-fermenting yeast cask shelf life hops. dunkle units of bitterness aerobic bunghole enzymes priming trappist sour/acidic sour/acidic.
            </p>
        </div>
    </div>
<div>
