<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
</head>
<body>
<h1><%= title %></h1>
<p>Lorem Ipsum</p>
<% for(var i=0; i<users.length; i++) {%>
  <li><%= users[i] %></li>
<%} %>
</body>
</html>
