<div class="wrapper">
    <div id="fadingDiv" class="form">
        <img id="xButton" src="/images/buttons/xButton.png"/>
        <div id="pageContent">
            <h3>Welcome to Cashtag!</h3>
            <p>
                We are Cashtag.  Developed in Boulder, Colorado we aim to give trending data visualizations on major S&P 500 companies. We’ve collected tweets from StockTwits on fortune 500 companies since 2010 and display bullish and bearish sentiment on a daily timeframe. The purpose of this visualization is, on one hand, experimental, since we display tweets as tiles in 3d space to enhance user experience, and practical, because we utilize color and other visual cues to make pattern finding and user experience easier.
            </p>
            <p>
To navigate this website, use the search bar at the top left corner to search for companies. As of right now, only the Dow 30 companies can be autocomplete. However, you are still able to find any of the fortune 500 companies on our website.
            </p>
            <p>
In order to display twits for a specific day, click on any point of the timeline on the bottom of the screen. This will bring the twits from the same day as the data point you clicked on to the screen.
            </p>
            <p>
Twits have sentiment associated with them: red tiles signify twits with negative, or bearish, sentiment, green tiles, on the other hand, signify twits with positive, or bullish sentiment.
Enjoy visualizing StockTwits!
            </p>
        </div>
    </div>
<div>
