<div class="headerMenu" role="banner">
  <div class="headerContainer">
    <h1 class="logoText"><strong class="strong">CASH</strong><i>tag</i></h1>
    <div class="search">
      <input id="tags" type="text" placeholder="Search Stocks" data-global-scope-placeholder="Search Stocks" autocapitalize="on">
    </div>
    <div class="social">
      <ul>
        <li id="about">
            About
        </li>
        <li id="contact">
            Contact
        </li>
      </ul>
    </div>
  </div>
</div>
